@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");

:root {
  --main-bg-color: pink;
  --Dark-Grey: #24232c;
  --Grey: #817d92;
  --Almost-White: #e6e5ea;
  --Very-Dark-Grey: #18171f;
  --Neon-Green: #a4ffaf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  font-feature-settings: "clig" off, "liga" off;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(180deg, #14131b 0%, #08070b 100%);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: normal;
  line-height: normal;
  color: var(--Grey, #817d92);
  font-family: "JetBrains Mono", monospace;
}

#generated {
  height: 5rem;
  padding: 2rem;
  width: 33.75rem;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  background: var(--Dark-Grey, #24232c);
}

::placeholder {
  font-size: 2rem;
  font-weight: 700;
  user-select: none;
  font-style: normal;
  line-height: normal;
  color: rgba(230, 229, 234, 0.25);
  font-family: "JetBrains Mono", monospace;
}

#passGenerated {
  width: 362px;
  border: none;
  outline: none;
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  user-select: none;
  color: var(--Almost-White, #e6e5ea);
  background: var(--Dark-Grey, #24232c);
  font-family: "JetBrains Mono", monospace;
}

#copybtn {
  width: auto;
  height: auto;
  cursor: pointer;
  background-color: transparent;
}

#copybtn:hover {
  background-color: transparent;
}

span {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  font-size: 1.125rem;
  color: var(--Neon-Green, #a4ffaf);
  font-family: "JetBrains Mono", monospace;
}

.hidden {
  display: none;
}

#generated:hover svg path {
  fill: #fff;
  transition: 1s;
}

#generator {
  display: flex;
  flex-direction: column;
  gap: 1.62rem;
  padding: 2rem;
  height: 33rem;
  width: 33.75rem;
  flex-shrink: 0;
  background: var(--Dark-Grey, #24232c);
}

#ctlenth {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 16.5rem;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  font-size: 1.125rem;
  color: var(--Almost-White, #e6e5ea);
  font-family: "JetBrains Mono", monospace;
}

#length {
  border: none;
  outline: none;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  background: transparent;
  line-height: normal;
  color: var(--Neon-Green, #a4ffaf);
  font-family: "JetBrains Mono", monospace;
}

.sliderctn {
  width: 100%;
}

.slider::-webkit-slider-thumb:hover {
  background-color: #000;
  filter: drop-shadow(0px 1px 2px #000);
  border: 2px solid var(--Neon-Green, #a4ffaf);
}

.slider {
  width: 100%;
  height: 25px;
  opacity: 0.7;
  outline: none;
  appearance: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  background-color: #18171f;
}

.slider::-webkit-slider-thumb {
  width: 28px;
  height: 28px;
  cursor: pointer;
  appearance: none;
  border-radius: 999px;
  -webkit-appearance: none;
  background-color: var(--Almost-White, #e6e5ea);
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: #ffffff;
}

.sliderctn input {
  height: 0.5rem;
  flex-shrink: 0;
  width: 29.75rem;
}

.checkctn {
  display: block;
  cursor: pointer;
  font-size: 22px;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* Hide the browser's default checkbox */
.checkctn input {
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
  position: absolute;
}

/* Create a custom checkbox */
.checkmark {
  top: 0;
  left: 0;
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  background-color: transparent;
  border: 2px solid var(--Almost-White, #e6e5ea);
}

.checkctn {
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  font-size: 1.125rem;
  color: var(--Almost-White, #e6e5ea);
  font-family: "JetBrains Mono", monospace;
}

/* On mouse-over, add a grey background color */
.checkctn:hover input ~ .checkmark {
  border: 2px solid var(--Almost-White, rgba(164, 255, 175, 1));
}

/* When the checkbox is checked, add a blue background */
.checkctn input:checked ~ .checkmark {
  border: #a4ffaf;
  background-color: rgba(164, 255, 175, 1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  display: none;
  position: absolute;
}

/* Show the checkmark when checked */
.checkctn input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkctn .checkmark:after {
  left: 5px;
  top: 2.5px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#strengthctn {
  display: flex;
  justify-content: space-between;
  width: 29.75rem;
  height: 4.5rem;
  flex-shrink: 0;
  padding: 2rem;
  font-weight: 700;
  user-select: none;
  text-align: center;
  font-style: normal;
  line-height: normal;
  align-items: center;
  font-size: 1.125rem;
  background: #18171f;
  color: var(--Grey, #817d92);
  font-family: "JetBrains Mono", monospace;
}

#strength {
  display: flex;
  text-align: right;
  gap: 0.97rem;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  user-select: none;
  color: var(--Almost-White, #e6e5ea);
  font-family: "JetBrains Mono", monospace;
}

.bars {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 6px;
  height: 31px;
  font-size: 24px;
}

.bars span {
  display: block;
  font-size: 17px;
  object-fit: cover;
}

.bars div {
  width: 10px;
  height: 28px;
  min-width: 10px;
  border: 2px solid var(--Almost-White, #e6e5ea);
}

button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29.75rem;
  height: 4.0625rem;
  gap: 1.5rem;
  flex-shrink: 0;
  font-weight: 700;
  font-size: 1.125rem;
  font-style: normal;
  line-height: normal;
  color: var(--Dark-Grey, #24232c);
  background: var(--Neon-Green, #a4ffaf);
  font-family: "JetBrains Mono", monospace;
}

button:hover {
  text-align: center;
  transition: 1s;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  font-size: 1.125rem;
  background-color: transparent;
  color: var(--Neon-Green, #a4ffaf);
  font-family: "JetBrains Mono", monospace;
  border: 2px solid var(--Neon-Green, #a4ffaf);
}

button:hover svg path {
  fill: #a4ffaf;
  transition: 1s;
}
